node_modules
/.pnp
/.firebase
.expo
.pnp.js
__generated__
/coverage
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.*
web-build/
web-report/
.vscodescode
android
mobile-app/dist
android/
ios/
AccessKey.*
node_modules/
android/build/
ios/build/
.expo/
.expo-shared/

# Firebase credentials
leaf-reactnative-firebase-adminsdk-fbsvc-94a09a2472.json
*.json
!package.json
!package-lock.json
!yarn.lock
!app.json
!firebase.json
!tsconfig.json
!babel.config.js
!metro.config.js
!eas.json